nav {
  position: absolute;
  background: var(--bg-color);
  height: calc(100vh - 80px);
  z-index: 2;
  top: 80px;
  right: 0;
  left: 0;
  display: none;
  /* we add display: flex with javascript */
  justify-content: center;
  align-items: center;
}

nav,
nav a {
  color: #fff;
  text-decoration: none;
}

nav > div {
  background: var(--bg-color-2);
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

nav > div * {
  max-height: 100%;
}

nav > div > ul {
  width: 80%;
}

nav ul {
  list-style-type: none;
  height: auto;
  transition: all 0.5s ease-in-out;
}

nav ul li span:hover,
nav a:hover {
  cursor: pointer;
  color: var(--accent-color);
}

nav .collapsed,
nav .expanded {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

nav .expanded {
  max-height: 100vh;
}

nav .collapsed > span::after {
  position: relative;
  top: 9px;
  color: var(--accent-color);
  content: "ˇ";
}

nav .expanded > span::after {
  position: relative;
  top: 9px;
  color: var(--accent-color);
  content: "ˆ";
}
