nav {
  position: absolute;
  background: var(--bg-color);
  height: calc(100vh - 80px);
  z-index: 2;
  top: 80px;
  right: 0;
  left: 0;
  display: none;

  /* we add display: flex with javascript */
  justify-content: center;
  align-items: center;
}

nav > div {
  background: var(--bg-color-2);
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav .submenu span::after {
  content: "ˇ";
  margin-top: 5px;
}
