:root {
  --bg-color: #3a3b3c;
  --bg-color-2: #242526;
  --body-text-color: #b0b3b8;
  --heading-color: #e4e6eb;
  --accent-color: #127369;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  color: var(--body-text-color);
}

button.scroll-left-button,
button.scroll-right-button {
  top: 50%;
  background: #fff;
  position: absolute;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 10px;
  opacity: 0.2;
  z-index: 0;
  overflow: visible;
}

button.scroll-right-button {
  top: 50%;
  right: 0;
}

button.scroll-right-button:hover,
button.scroll-left-button:hover {
  cursor: pointer;
  opacity: 1;
}

.hidden {
  display: none !important;
}

/***********
* MOBILE *
***********/
@media (max-aspect-ratio: 1/1) {
  .no-mobile {
    display: none;
  }
}

/***********
* DESKTOP *
***********/
@media (min-aspect-ratio: 1/1) {
}
