:root {
  --bg-color: #3a3b3c;
  --body-text-color: #b0b3b8;
  --heading-color: #e4e6eb;
  --accent-color: #127369;
}

@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  font-family: "Work Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  color: var(--body-text-color);
}

h1 {
  font-family: "WorkSans";
  line-height: 10px;
}

h2 {
  font-family: "Lora";
  line-height: 20px;
}

p {
  font-family: "OpenSans";
}
