:root {
  --bg-color: #3a3b3c;
  --bg-color-2: #242526;
  --body-text-color: #b0b3b8;
  --heading-color: #e4e6eb;
  --accent-color: #127369;
}

@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url(../fonts/Lora-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  font-family: "WorkSans";
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-weight: revert;
}

a {
  color: var(--body-text-color);
  text-decoration: underline;
}

h1 {
  font-family: "WorkSans";
  /* line-height: 10px; */
}

h2 {
  font-family: "Lora";
  /* line-height: 20px; */
}

p {
  font-family: "OpenSans";
}

.scroll-left-button,
.scroll-right-button {
  background: #fff;
  position: absolute;
  width: 40px;
  text-align: center;
  opacity: 0.2;
  z-index: 1;
  border: none;
  height: calc(100% - 80px);
  bottom: 0;
}

.scroll-right-button {
  /* top: 50%; */
  right: 0;
}

.scroll-left-button span:after {
  content: "❮";
}

.scroll-right-button span:after {
  content: "❯";
}

button.scroll-right-button:hover,
button.scroll-left-button:hover {
  cursor: pointer;
  opacity: 1;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: var(--bg-color-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}

.h-80 {
  height: calc(100vh - 80px);
}

.h-160 {
  height: calc(100vh - 160px);
  top: 160px;
}

video {
  position: absolute;
  top: 80px;
  bottom: 0;
  margin-left: 50vw;
  transform: translate(-50%);
  width: calc(100% - 80px);
  height: calc(100% - 80px);
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0);
  }

  to {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
}

.fadein {
  animation: fadein 700ms ease-out;
}

.fadeout {
  animation: fadeout 700ms ease-out;
}
/***********
* MOBILE *
***********/
@media (max-aspect-ratio: 1/1) {
  .no-mobile {
    display: none;
  }

  video {
    width: 100%;
  }
}

/***********
* DESKTOP *
***********/
@media (min-aspect-ratio: 1/1) {
}
