<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="./page-header.css" />
  </head>
  <body>
    <header>
      <div id="systembar"></div>
      <nav>
        <div id="nav-icon" class="icon">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div id="title">
          <h1>Maxim Adejumo</h1>
        </div>

        <div id="contact-link">
          <a href="#">contact</a>
        </div>
      </nav>
    </header>

    <script src="./js/page-header.js"></script>
  </body>
</html>
