body nav {
    background-color: #127369;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 60px;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    padding: 0;
    margin:0;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
}

body nav ul {
    display: flex;
    flex: 0.25;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

body nav ul li {
    list-style-type: none;
    display: block;
    margin: 10px;
}

li.square {
    width: 30px;
    height: 30px;
    background: #6ca8a2;        
}

li.circle {
    width: 30px;
    height: 30px;
    background: #6ca8a2;
    border-radius: 50%
}

li.triangle-down {
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 30px solid #6ca8a2;
}

@media only screen and (max-width: 600px) {
    li.triangle-down {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 20px solid #6ca8a2;
    }

    li.square, li.circle {
        width: 20px;
        height: 20px;    
    }
    body nav ul li {
        margin: 5px;
    }

    body nav ul, body nav .leftDiv, body nav .centralDiv {
        flex: 0.33;
    }

    nav h1 {
        font-size: 20px;
    }
    h1 {
        word-spacing: 100vw;
    }
  }

#maximAdejumo {
    background-color: #127369;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#maximAdejumo.doneAnimation {
    height: calc(100% - 60px);
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 3s ease all;
    padding: 0 10px;
}

.text-container a h1 {
    font-size: 100px;
    transition: 3s ease all;
}

.text-container.smaller a h1 {
    font-size: 25px;
}

.text-container.smaller {
    height: 60px;
}

.leftDiv, .centralDiv {
    flex:0.25;
}

.hidden {
    display:none;
}

div#pictureAde {
    background-image: url(/Users/burakiloglu/Documents/Projects/PortfolioWebsite/burak-home-page/2d1e5cfd14559e3fbe229a8f46ddbbb6.png);
    width: 300px;
    height: 300px;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #127369;
    position: absolute;
    top: 380px;
    animation: fadeOut ease 3s;
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

#pictureSection {
    display: flex;
    justify-content: center;
    background-color: #127369;
}

html {
    background-color: #127369;
}
